<?xml version="1.0" encoding="utf-8"?>
  <packageinfo name="ceph" type="rc" version="1">
    <components manageable="true">
      <component id="ceph" name="ceph" optional="false" version="{{ ceph_version }}" datetime="{{ lookup('pipe','date +%Y-%m-%d') }}"/>
    </components>
  </packageinfo>