---
- name: basename newest_package_file
  ansible.builtin.set_fact:
    newest_package_name: "{{ hostvars['localhost']['newest_package_path'] | basename }}"
  run_once: True

- name: New backup package dest directory
  ansible.builtin.file:
    path: "{{ ceph_package_backup_path }}"
    state: directory
  ignore_errors: yes
  ignore_unreachable: yes

- name: backup package
  ansible.builtin.copy:
    src: "{{ hostvars['localhost']['newest_package_path'] }}"
    dest: "{{ ceph_package_backup_path }}/{{ newest_package_name }}"
  ignore_errors: yes
  ignore_unreachable: yes
      