---
- name: Debug ceph tar path
  ansible.builtin.debug:
   msg:
     - "{{ ceph_package_path }}"
  run_once: True

- name: Find ceph tar gz
  ansible.builtin.find:
    paths: "{{ ceph_package_path }}"
    patterns: "^CEPH.*.tar.gz"
    use_regex: true
  register: ceph_files

- name: Sort files by modification time (oldest first) and exclude the 3 newest
  ansible.builtin.set_fact:
    old_files: |
      {% set sorted_files = ceph_files.files | sort(attribute='mtime') %}
      {{ sorted_files[:-2] if sorted_files | length > 3 else [] }}
      
- name: Debug old ceph tar
  ansible.builtin.debug:
    msg: "{{ old_files }}"

- name: Delete old ceph tar files (keeping 3 newest by modification time)
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ old_files }}"
  when: old_files | length > 0

- name: Package new ceph16 tar
  ansible.builtin.shell: >
    python3 {{ playbook_dir }}/../scripts/package_tar_ceph.py -o 
    CEPH_{{ ceph_version }} -s 
    'ceph-run' 'pre_deploy_package' 'components' 'idatacloud-ceph' 'META-INF' 'rpm'
  args:
    chdir: "{{ ceph_package_path }}"
  register: package_name

- name: Debug package name
  ansible.builtin.debug:
    msg: "{{ ceph_package_path }}/{{ package_name.stdout }}"

- name: Set fact newest_package_path
  ansible.builtin.set_fact:
    newest_package_path: "{{ ceph_package_path }}/{{ package_name.stdout }}"
