---
- hosts: localhost
  any_errors_fatal: true
  gather_facts: false
  roles:
    - role: choose_project
    - role: find_newest_package
      tags: [always]

- hosts: proxy_server
  any_errors_fatal: true
  gather_facts: False
  tasks:
    - name: basename new package name
      tags: [always]
      ansible.builtin.set_fact:
        newest_package_name: "{{ hostvars['localhost']['newest_package_path'] | basename }}"
      run_once: True

    - name: New push package dest directory
      tags: [always]
      ansible.builtin.file:
        path: "/root/new"
        state: directory

    - name: Push package
      tags: [always]
      ansible.builtin.copy:
        src: "{{ hostvars['localhost']['newest_package_path'] }}"
        dest: "/root/new"
        force: yes
