---
- hosts: localhost
  any_errors_fatal: true
  gather_facts: false
  roles:
    - role: choose_project
    - role: find_newest_package
      tags: [always]

- hosts: "{{ hostvars['localhost']['test_host_group'] }}"
  any_errors_fatal: true
  gather_facts: true
  roles:
    - role: choose_project
    - role: rolling_update
      tags: [always]

- hosts: localhost
  any_errors_fatal: true
  gather_facts: true
  tasks:
    - name: Auto cicd test
      shell: > 
        robot --variable distribution:{{ ansible_distribution.split(' ')[0] | lower }} . -d ./report
  ignore_errors: yes
